# These are the secrets used to upload artifacts to s3 buckets
s3key: SUPERSECRETKEY
s3secret: SUPERSECRETSECRET

# Used for artifact signing
minisign-public: RWTPfbfFRi5b+T02aw733p5dp/UI/1Z946YWBInmkPmBlx2Zy1Vyw9kP
minisign-private: THISISSUPERSECRET
minisign-key: THISISEVENMORESUPERSECRET

# Used to upload the toolchain container to docker hub
docker-hub-user: DEADLYUSERNAME
docker-hub-password: SUPERPASSWORD

# Service / API keys used by Haiku
mozilla-service-key: THISISACTUALLYASECRET
geocoding-service-key: haikuinc

# IRCCat Secret for IRC notifications
irccat-secret: SUPERSECRET
