# These are the secrets used to upload artifacts to s3 buckets
s3key: SUPERSECRETKEY
s3secret: SUPERSECRETSECRET

# backblaze for artifacts
b2account: 00....
b2secret: ....

# bunny.net to clear cache
cdn-secret: ....

# Used for artifact signing
minisign-public: RWTPfbfFRi5b+T02aw733p5dp/UI/1Z946YWBInmkPmBlx2Zy1Vyw9kP
minisign-private: THISISSUPERSECRET
minisign-key: THISISEVENMORESUPERSECRET

# Used to upload the toolchain container to container registry
container-registry: docker.io/haiku
container-registry-user: DEADLYUSERNAME
container-registry-password: SUPERPASSWORD

# Service / API keys used by Haiku
mozilla-service-key: THISISACTUALLYASECRET
geocoding-service-key: haikuinc

# Private key used to sign EFI binaries (base64 encoded)
# This matches the certificates in data/boot/efi
efi-db-key: OHWOWTHISISREALLYSECRET

# IRCCat Secret for IRC notifications
irccat-secret: SUPERSECRET

# Gerrit login for patch building
gerrit-username: USERNAME
gerrit-password: PASSWORD
