# These are the secrets used to upload artifacts to s3 buckets
s3key: SUPERSECRETKEY
s3secret: SUPERSECRETSECRET
s3endpoint: https://s3.wasabisys.com

# Used to upload the toolchain container to docker hub
docker-hub-user: DEADLYUSERNAME
docker-hub-password: SUPERPASSWORD
