# Base package
Pootle==2.7.6

# Patched translate toolkit
git+https://github.com/nielx/translate.git@stable/1.14.0

# Other required packages
psycopg2
pytz

# Optional package to speed up merging (will be standard from Pootle 2.8.*)
python-levenshtein==0.12.0

# Additional package for the synchronization script
jinja2
toml

# Fix redis to 2.10.6 (see https://github.com/translate/pootle/issues/6887)
redis==2.10.6